body{
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;

}

.escolhas{
    margin-bottom: 30px;
}

.escolhas button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    background-color: hsl(214, 47%, 50%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.escolhas button:hover{
   background-color: hsl(214, 47%, 70%);
}

#resultadoJogador, #resultadoComputador{
    font-size: 2.5rem;
}

#resultadoJogo{
    font-size: 3.5rem;
    margin: 30px 0;
}

.textoverde{
    color: hsl(120, 83%, 60%)
}

.textovermelho{
    color: hsl(0, 100%, 50%)
}